<%= form_for(@annonce) do |f| %>
  <% if @annonce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annonce.errors.count, "error") %> prohibited this annonce from being saved:</h2>

      <ul>
      <% @annonce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %><br>
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :prix %><br>
    <%= f.number_field :prix %>
  </div>
   <div class="field">
    <%= f.label :image1%><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :image2 %><br>
    <%= f.text_field :image2 %>
  </div>
  <div class="field">
    <%= f.label :image3 %><br>
    <%= f.text_field :image3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
