<div class="container">
    <header class="jumbotron hero-spacer">
    <center>
    <% if current_user.id == @annonce.user_id %>
    <p> C'est ton annonce, si tu veux te contacter tu n'as qu'a prendre un mirroir</p>


<%else%>
<h2>Contact de l'annonceur</h2>
<br>

<p>
  <strong>Auteur:</strong>
  <%= @annonce.user.prenom %> <%= @annonce.user.nom %>
</p>

<p>
  <strong>Téléphone :</strong>
  <%= @annonce.user.numero %>
</p>

<p>
  <strong>Mail :</strong>
  <%= @annonce.user.email %>
</p>
<br>
<%= link_to 'Retour', @annonce %> 


<% end %>

</center>
</header>
</div>
