<div class="container">
    <header class="jumbotron">
    <center>

<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @annonce.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @annonce.description %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @annonce.prix %>€
</p>

<div id="galerie-minimaliste">
<div>
<p tabindex="1"><img src="<%=@annonce.image%>" style="max-width:100%; height:auto" /></p>
<!--<p tabindex="1"><img src="<%=@annonce.photo.url(:thumb)%>" style="max-width:100%; height:auto" /></p>-->
<p tabindex="2"><img src="<%=@annonce.image2%>" style="max-width:100%; height:auto" /></p>
<p tabindex="3"><img src="<%=@annonce.image3%>" style="max-width:100%; height:auto" /></p>
</div>
</div>

<!--<p>
  <strong>Image:</strong> <br><br>
  <img src="<%=@annonce.image%>" alt="<%=@annonce.titre%>" style="max-width:60%; height:auto">
</p>-->

<p>
  <strong>Auteur:</strong>
  <%= @annonce.user.prenom %> <%= @annonce.user.nom %> <br>
</p>
	<% if current_user.id == @annonce.user_id %>
	<%= link_to 'Editer', edit_annonce_path(@annonce) %> 
	<%else%> 
	<%= link_to 'Signaler' %>
| <%= link_to 'Contacter', 
	contact_path(@annonce) %> 
	<%end%> |
	<%= link_to 'Retour', annonces_path %>
	<%else%>
	<p> Vous ne pouvez voir les détails de cette annonce, car vous n'etes pas connecté </p>
	<%end%>

	</center>
	</header>
</div>
