<div class="container">
    <header class="jumbotron hero-spacer">
    <center>

<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @annonce.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @annonce.description %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @annonce.prix %>€
</p>

<p>
  <strong>Image:</strong> <br><br>
  <img src="<%=@annonce.image%>" alt="<%=@annonce.titre%>" style="max-width:60%; height:auto">
</p>

<p>
  <strong>Auteur:</strong>
  <%= @annonce.user.prenom %> <%= @annonce.user.nom %> <br>
</p>
	<% if current_user.id == @annonce.user_id %>
	<%= link_to 'Editer', edit_annonce_path(@annonce) %> 
	<%else%> 
	<%= link_to 'Contacter', 
	@annonce %>
	<%end%> |
	<%= link_to 'Retour', annonces_path %>
	<%else%>
	<p> Vous ne pouvez voir les détails de cette annonce, car vous n'etes pas connecté </p>
	<%end%>

	</center>
	</header>
</div>
