<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @annonce.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @annonce.description %>
</p>

<p>
  <strong>Mis en ligne par:</strong>
  <%= @annonce.user_id %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @annonce.prix %>
</p>

<p>
  <strong>Image:</strong>
  <%= @annonce.image %>
</p>

<%= link_to 'Edit', edit_annonce_path(@annonce) %> |
<%= link_to 'Back', annonces_path %>
<%else%>
<p> Vous ne pouvez voir les détails de cette annonce, car vous n'etes pas connecté </p>
<%end%>